---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main id="main-content">
		<section id="hero">
			<h1>Pratik Bhattarai</h1>
			<p>DevOps &amp; Cloud Engineer</p>
		</section>
	</main>
</Layout>
